body {
  background-color: rgb(194, 211, 235);
  display: flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

.mainContainer {
  display: flex;
  background-color: white;
  padding: 0.8rem 1rem;
  border-radius: 15px;
  flex-direction: column;
  height: 30rem;
  width: 18rem;
  text-align: center;
  box-shadow: 0px 5px 30px 0px rgba(41, 39, 39, 0.4);
}

.mainContainer img {
  height: 32rem;
  border-radius: 8px;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}

p {
  font-size: 1rem;
  color: hsla(240, 4%, 5%, 0.479);
  margin-top: 2px;
